 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr> <!-- class="star-light"> -->
                </div>
            </div>
            <div class="row">
	      <div style="text-align:center;">
		<p>
		  You. It's all about you. Finding your space to have fun, let go, enjoy yourself, and to rediscover your fun & chilled side!
		</p>
		<p>
		  It's so easy to get stressed, it's so easy to get tired, and there's always an endless list of things to do. Surrender to it.
		</p>
		<p>It's time to invest in yourself, regain peak mental and physical health and to enjoy your life!! I do. It's time for you to let go, enjoy yourself and most importantly, to have a laugh! All classes & sessions are about building your self-confidence, having fun and socialising with others, but most importantly, being yourself!
		</p>
            </div>
            </div>
        </div>
    </section>
