 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr> <!-- class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Dance is something so enjoyable that it's time to let go and dance like nobody's watching! My classes & workshops have been held in Sweden, Finland, Portugal, the UK (my home country), and the Netherlands.</p>
                </div>
                <div class="col-lg-4">
                    <p> As a certified dance teacher, I set the stage for you to let go, enjoy yourself and most importantly, to have a great laugh!!! In the end, isn't that what it's all about?! Yoga and Meditation are also my great loves which I teach weekly and are essential to my daily practice!</p></p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center"> -->
                <!--     <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline"> -->
                <!--         <i class="fa fa-download"></i> Download Theme -->
                <!--     </a> -->
                <!-- </div> -->
            </div>
        </div>
    </section>
