<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <video class="img-responsive" autoplay muted loop id="myVideo">
          <source src="img/salsa3.MOV" type="video/mp4" alt="Video of dancing" />
          Your browser does not support HTML5 video.
        </video>
hihih
      <div class="col-lg-9">	
        <div class="hello therere">
          <!-- <span class="name">{{ site.title }}</span> -->
          <!-- <hr class="star-light"> -->
          <span class="skills"><i>{{ site.skills }}</i></span>
	</div>
      </div>
    </div>
  </div>
</header>
