<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <img src="img/dance_fit_class.jpg" alt="Mindful Yoga with candle lights" width="960" height="845"/>
    <!--source src="img/salsa3.MOV" type="video/mp4" alt="Video of dancing" /-->
      <!-- img src="img/yoga_circle.jpg" alt="Flowers in Chania" width="460" height="345"-->
      <div class="col-lg-9">	
        <div class="hello therere">
          <!-- <span class="name">{{ site.title }}</span> -->
          <!-- <hr class="star-light"> -->
          <span class="skills"><i>{{ site.skills }}</i></span>
	</div>
      </div>
    </div>
  </div>
</header>
