 <!-- Prices Section -->
    <section class="success" id="prices">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Prices</h2>
                    <hr> <!-- class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
		   <b>
			DanceRnB! 
                    </b>
                    <br>
		    <br> - First class - €12.50
		    <br> - 6x class card - €85.00 (valid for 2 months)**
                    <br> - 10x class card offer  - €125.00 (valid for 3 months)**

	            <p>
		    <b>
              	    Payment via Tikke (NL), IBAN or Paypal 
	            </b>
		    </p>
			
                    <p>
 		    <b>
		    Private/group Yoga classes  
	             </b>
                  
		  <br>
                  
		   Prices upon consultation  
                   <br>
		   <br>
                  </p>
		
                </div>
                <div class="col-lg-4">

                    <p> 
		     <b>
			DanceFit! 
                    </b>
                     <br>
                     <br>  - First class- €12.50
                     <br>  - 10x class class card offer- €125.00  (valid for 3 months) 
	            </p>
				
		    <p> 
			*Valid until 6th April 
                        <br> **Customers will get a FULL refund for online classes not taken, if the Coronavirus pandemic clears up during a subscription!!
 	        </p> 

                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center"> -->
                <!--     <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline"> -->
                <!--         <i class="fa fa-download"></i> Download Theme -->
                <!--     </a> -->
                <!-- </div> -->
            </div>
        </div>
    </section>
