 <!-- Prices Section -->
    <section class="success" id="prices">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Prices</h2>
                    <hr> <!-- class="star-light"> -->
                </div>
            </div>
            <div class="row">
              <div style="text-align:center;">
		     <p> 
		     <b>
			Subscriptions & Membership | Dance Fit | Mindful Yoga 
		    <br>One class per week:
                    </b>
                    <br>
	            <br> - Try it out - FREE 7-Day Pass
	            <br> - 1 month subscription - €59.00 per month
		    <br> - 6 month subscription - €55.00 per month     
                    <br> - 10x class card offer - €149.00 (valid for 3 months) <= Most popular!
	            </p>
	            <p>

     			<p> 
		     <b>
			More than one class a week?
                    </b>
                    <br> - Add 20 euros for each additional class to a monthly subscription 
	             <br> - A class card is also valid for all classes
                    <p>
			
		    <p>
	            <br>
    	            <b>
	           Private Yoga Classes or One on One Coaching: 
		    </b>
	            <br>
		    Prices upon consultation
                  </p>
			
                    </div>
        </div>
    </section>
