 <!-- Prices Section -->
    <section class="success" id="prices">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Prices</h2>
                    <hr> <!-- class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
		   <b>
			DanceRnB! 
                    </b>
                    <br>
		    <br> - First class - €12.50
                    <br> - 10x class card offer  - €125.00 (valid for 3 months)

	            <p>
		    <b>
              	    
	            </b>
		    </p>
			
                    <p>
 		    <b>
		   Payment via Tikke (NL), IBAN or Paypal 
	             </b>
                  
		 
		
                </div>
                <div class="col-lg-4">

                    <p> 
		     <b>
			DanceFit! 
                    </b>
                     <br>
                     <br>  - First class- €12.50
                     <br>  - 10x class class card offer- €125.00  (valid for 3 months) 
	            </p>
				
		    <p>
    	            <b>
	            Private Yoga lessons: 
		    </b>
	            <br>
		    Prices upon consultation  
                  </p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center"> -->
                <!--     <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline"> -->
                <!--         <i class="fa fa-download"></i> Download Theme -->
                <!--     </a> -->
                <!-- </div> -->
            </div>
        </div>
    </section>
