#content {
  max-width: 900px;
  margin: auto;
}
#tinImage {
    float: left;
    padding-right: 50px;
}
p {
    line-height: 20px; /* 4px +12px + 4px */
    font-family:arial
}
.title  { text-align: center;
	  font-family:arial
          margin-bottom: .2em; }

.subtitle { text-align: center;
            font-size: medium;
	    font-family:arial
            font-weight: bold;
            margin-top:0; }
