#content {
    max-width: 1070px;
    margin: auto;
    font-family:arial;
    text-align: justify;
    font-size: 17px;
}

#content img {
    display: block;
    margin: auto;
    height: auto;
    width: 75%;
    object-fit: contain;
}


#content h2 {
    text-align: center;
    color: gray;
}

.title  { text-align: center;
	  font-family:arial
                          margin-bottom: .2em; }

.subtitle { text-align: center;
            font-size: medium;
	    font-family:arial
                            font-weight: bold;
            margin-top:0; }

#navbar ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:arial;
}

#video-frame {
    text-align: center;
}

.active {
    background-color: #00e673;
}

.sign {
    float: right !important;
}

p.signature {
    font-family: fantasy;
    font-size: 28px;
}

#myVideo {
    width: 60%;
}

img.img-floating-right {
    float:right;
    max-width:30%;
    margin:0% 5%;
}
